 /* .green {
   color: rgb(0, 128, 0);
}

#red {
   color: rgb(255, 0, 0);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
   color: #f5f5f5;
   background-color: #ff2121;
   border-style: dashed;
   border-color: hwb(0 0% 0%);
}

.blue {
background-position-x: left;
background-color: rgb(100, 0, 50);
line-height: 5rem;
text-align: center;
color: rgba(255, 255, 255)
}

.outer {
   width: 500px;
   height: 500px;
   background: blue;
}

.inner {
width: 50%;
height: 50%;
background: red;
text-align: center;
color: aqua;

}

.banner {
width: 50vw;
height: 50vh;
background: red ;
color: antiquewhite;
text-align: center;
}  

.default{
   color: red;
   font-size: large;
} 

*{
   margin: 0;
}

.navbar{
background: blue;
height: 100px;
color: white;
font-size: 3rem;
}
 
.banner{
   background: red;
   min-height: calc(100vh - 100px);

} */
/* body{
   font-family:Arial, Helvetica, sans-serif ;
   font-family:;
}

h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

#div1 {
   position: absolute;
   right: 50px;
   width: calc(100% - 100px);
   border: 1px solid black;
   background-color: yellow;
   padding: 5px;
}

.Sofia{
   font-family: "Sofia";
   text-align: center;
   font-weight:900;
   line-height: 3em;
} */

/* h1{
   background: orangered;
   color: antiquewhite;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 20px;
outline: 20em;
outline-width: 0.2em;
outline-color: black;
outline-style: solid;
outline-offset:10px;

}

p{
background-color: chartreuse;
font-weight: 900;
padding: 50px;
outline: 20em;
outline-width: 0.2em;
outline-color: black;
outline-style: solid;
outline-offset:10px;
outline-offset:-10px;
width: 50%;
text-align: center;
} */

/* .buttons{
   margin: 3rem;

}

a{
   margin: 0 20px;
background: #689f3f;
text-decoration: none;
padding: 1.2rem 1.5rem;
color: #000000;
text-transform: uppercase;
cursor: pointer;
}

#one{
border: 0.2rem solid #000000;
}

#two{
outline: 0.2rem solid #000000;
outline-offset: 10px;
outline-offset: -10px;
} */

/* .block{
   background: #0000ff;
   color: #faebd7;
   margin:  auto;
   width: 300px;
}

.inline{
   background: red;
   color: blanchedalmond;
} */
 
/* *{
   margin: 0 auto;
   padding: 0;
   box-sizing: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

ul li{
   list-style-type: decimal-leading-zero;
}

ul li a{
 background-color:chartreuse ;
 text-decoration: none;
 cursor: pointer;
 display:inline;
 padding-top: 10px;
 padding-bottom: 10px;
 padding: 10px 40px;
 box-sizing: 20px;
 margin: 5px;
 outline: 3px solid black;
 outline-offset: -3px;
 line-height: 3rem

} */

/* .box-1, .box-2, .box-3 {
width: 200px;
height: 200px;
color: #ffffff;
box-sizing: border-box;
}

.box-1{
   background: #0000ff;
   padding: 20px;
}

.box-2{
   background: #663399;
}

.box-3{
   background: orangered;
   padding: 20px;
   
}
 */

/* div{
background: blue;
margin: 10px;
color: #ffffff;
cursor: pointer;
}

.none{
   display: none;
}

.opacity {
   opacity: 1;
}

.opacity-0 {
   opacity: 0.7;
}

.visibility{
visibility: visible;
} */


/* *{
   margin: 0;
   padding: 0;
   box-sizing: border-box
} */

/* div{ */
   /* min-height:100vh ; */
   /* height: 400px; */
/* color: #ff0000; */
/* font-size: 20px; */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* } */
 
/* .big-img{
   background: url("./IMAGES/CLOUD\ PHOTO.jpg");
   background-repeat: no-repeat;
   background-size:cover ;
   padding-bottom: 100px;
   background-position: center;
   background-attachment: ;
} */

/* .small-img{
   background: url("./IMAGES/first\ image.jpg");
   background-repeat:  space;
   background-repeat: no-repeat;
   background-position: right;
   background-position: 100% 100%;
   background-attachment: fixed;
   background-size:cover ;
}  */
 
/* body{
   display: flex; 
}

div{
width: 150px;
height: 150px;
margin: 5px;
}

.one{
   background: linear-gradient(red, green, purple);
}

.two{
   background: linear-gradient(green, red);
}

.three{
   background: linear-gradient(to top left, orange, blue, purple);
   background: linear-gradient(300deg, orange, blue, purple);
color: rgb(255, 255, 255); }*/

/* *{ 
   margin: 0;
padding: 0;
box-sizing: border-box;
}

div{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-size: 60px;
color: orangered;
}

.banner {
background: url("./IMAGES/CLOUD\ PHOTO.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.header {
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./IMAGES/first\ image.jpg')center/cover no-repeat fixed;

} */

/* .banner {
  border: 5px solid red; 
  padding: 10px;
  overflow: hidden;
} */

 /* img {

   float:left ;
   margin-left: 45vw;
      } */

/* p {
clear: both;
}

.one{
   float: left;
   margin-left: 50px;
}

.two{
   float: right;
} */

*{
margin-right: 0;
padding-left: 0;
/* box-sizing: border-box; */

}

div{
   /* margin: 5vw; */
   /* padding-left: 50px; */
   border: solid 0.1em darkblue;
   width: 45%;
   height: 200px;
   float: right;
}

.one{
   background: greenyellow;
}

.two{
   background: rgb(0, 140, 0);
}

.three{
   background: rgba(19, 170, 47, 0.997);
}

.four{
   background: rgba(255, 0, 0, 0.917);
}

.five{
   background: darkred;
}

.six{
   background: darkorange;
}



















































































