body
{
   background-color: rgba(128, 255, 0, 0.206);
}

ul
{
   text-align: center;
   font-style: oblique;
   font-size: 200%;
}

li
{
   list-style-position: inside;
   text-decoration: none;
   color: black;
}

p.a
{
   text-align: center;
   color: red;
 }

p.b
{ 
   font-size: x-large;
   background-color: rgba(153, 50, 204, 0.707);
   border: 2;
   border-style: double;
}

p.c
{ 
   font-size: x-large; 
   background-color: rgba(50, 204, 88, 0.707);
   border: 2;
   border-style: double;
}

ul.a {
   /* list-style-type: circle; */
   list-style-type:armenian;
 }
 
 ul.b {
   list-style-type: square;
 }
 
 ol.c {
   list-style-type: upper-roman;
 }
 
 ol.d {
   list-style-type: lower-alpha;
 }
 
div.d
{
font-size: 300%;
text-shadow: 200%;
color: rgba(139, 0, 0, 0.856);
font-family: sans-serif;
}

#princess
{
   text-align:left;
   color: rgba(0, 128, 0, 0.991);
}

.Hero
{
   text-align: right;
   font-size: xx-large;
   font-style: italic;
   border-style:groove;
   border-bottom-color: rgb(255, 162, 0);
   color: rgb(47, 85, 255);
}

h3, h4, p.z
{
   text-align: center;
   color: red;
}

/* HOVER OVER A BUTTON */
a:link a
{ 
 color: red; 
 }

 a:visited 
 {
   color: green;
 } 

 a:hover 
 { 
   color: rgba(255, 105, 105, 0.621);
 }

 a:active
 { 
    color: blue; 
 }

p.d
{
   text-align: center;
   text-transform: uppercase;   
color: rgba(255, 166, 0, 0.889);
background-color: rgba(76, 0, 130, 0.792);
background-size: contain;
}

li
{
   text-align: center;
}


