body
{
   background-color: rgba(128, 255, 0, 0.206);
}

header
{
   text-align: center;
   font-style: oblique;
   color: darkred;
   font-size: 200%;
   background-image: -moz-repeating-radial-gradient();
}


p
{ 
   font-size: x-large;
   background-color: rgba(153, 50, 204, 0.707);
   border: 2;
   border-style: double;
}