body
{
   background-color: rgba(128, 255, 0, 0.206);
}

header
{
   text-align: center;
   font-style: oblique;
   color: darkred;
   font-size: 200%;
   background-image: -moz-repeating-radial-gradient();
}

p.a
{
   text-align: center;
   color: red;
 }

p.b
{ 
   font-size: x-large;
   background-color: rgba(153, 50, 204, 0.707);
   border: 2;
   border-style: double;
}

p.c
{ 
   font-size: x-large; 
   background-color: rgba(50, 204, 88, 0.707);
   border: 2;
   border-style: double;
}


ul.a {
   /* list-style-type: circle; */
   list-style-type:armenian;
 }
 
 ul.b {
   list-style-type: square;
 }
 
 ol.c {
   list-style-type: upper-roman;
 }
 
 ol.d {
   list-style-type: lower-alpha;
 }
 
div.d
{
font-size: 300%;
text-shadow: 200%;
color: darkred;
font-family: sans-serif;
}

#princess
{
   text-align: right;
   font-style: oblique;
}


